<!DOCTYPE html>
<html>

<head>
    <title>Update</title>
    <meta charset="utf-8" />
</head>

<body> 
    <h1>Tour</h1> 
        <label>ID</label> 
        <input readonly id="idtours" name="idtours" value="{{tour.idtours}}" /><br><br> 
        <label>Country Id</label> 
        <input readonly id="idcountry" name="idcountry" value="{{tour.idcountry}}" /><br><br> 
        <label>Operator Id </label> 
        <input readonly id="idoperator" name="idoperator" value="{{tour.idoperator}}" /><br><br> 
        <label>Tour Name </label> 
        <input readonly id="tourname" name="tourname" value="{{tour.tourname}}" /><br><br> 
        <label>Desctiption</label> 
        <input readonly id="descr" name="descr" value="{{tour.descr}}" /><br><br> 
    <a href="/tours">Back to List of Tours</a> 
</body>
<html>