<!DOCTYPE html>
<html>

<head>
  <title>Update</title>
  <meta charset="utf-8" />
</head>

<body>
  <h1>voucher</h1>
  <label>ID</label>
  <input readonly id="idvoucher" name="idvoucher" value="{{voucher.idvoucher}}" /><br><br>
  <label>Tour Id</label>
  <input readonly id="idtour" name="idtour" value="{{voucher.idtour}}" /><br><br>
  <label>Vouchername </label>
  <input readonly id="vouchername" name="vouchername" value="{{voucher.vouchername}}" /><br><br>
  <label>descr</label>
  <input readonly id="descr" name="descr" value="{{voucher.descr}}" /><br><br>
  <label>price</label>
  <input readonly id="price" name="price" value="{{voucher.price}}" /><br><br>
  <label>numberofpeople</label>
  <input readonly id="numberofpeople" name="numberofpeople" value="{{voucher.numberofpeople}}" /><br><br>
  <label>nutrition</label>
  <input readonly id="nutrition" name="nutrition" value="{{voucher.nutrition}}" /><br><br>
  <label>accommodation</label>
  <input readonly id="accommodation" name="accommodation" value="{{voucher.accommodation}}" /><br><br>
  <label>hot</label>
  <input readonly id="hot" name="hot" value="{{voucher.hot}}" /><br><br>
  <label>discount</label>
  <input readonly id="discount" name="discount" value="{{voucher.discount}}" /><br><br>
  <a href="/vouchers">Back to List of Vouchers</a>
</body>
<html>